.postActivityContainer {
  height: 659px; 
  width: 642px;
  background-color: #FFFFFF;
  overflow-y: auto; 
  grid-column: span 7;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 458px;
  min-width: 594px;
  width: auto;
  gap: 24px;
  padding: 24px 24px 0px 24px;
}

.containerBtnLoadPosts {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 114px;
}


.loadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}


@media (max-width: 1400px) {
  .postActivityContainer {
    height: auto;
    grid-column: span 12;
  }
}

@media (max-width: 768px) {
  .postActivityContainer {
    height: auto;
    width: 100%;
    grid-column: span 12;
  }

  .cardContainer {
    min-height: auto;
    min-width: auto;
    padding: 24px;
  }
}

@media (max-width: 680px) {
  .postActivityContainer {
    height: auto;
    max-width: 451px;
    grid-column: span 12;
  }

  .cardContainer {
    padding: 16px;
  }
}
