.postActivityContainer {
  height: 675px; 
  width: 642px;
  background-color: #FFFFFF;
  position: relative;
  left: 24px;
  right: 161px;
  margin-bottom: 96px;
  overflow-y: auto; 
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
  padding: 23px;
}

.containerBtnLoadPosts {
  display: flex;
  justify-content: center;
  margin-top: 109px;
  margin-bottom: 24px
}


.loadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}