.postCardContainer {
  height: 217px;
  width: 285px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.postCardContainerBlog {
  height: 217px;
  width: 261px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}


.imageContainer {
  position: relative;
}

.imagePost {
 height: 72px;
  width: 285px;
}

.imagePostBlog {
 height: 72px;
  width: 261px;
}


.dateSpan {
  position: absolute;
  bottom: 8px; 
  left: 10px; 
  padding: 5px; 
  z-index: 1;
  height: 10px;
  width: 48px;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 8px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 10px;
}


.categorySpan {
  position: absolute;
  bottom: 8px; 
  right: 10px; 
  padding: 5px 16px 5px 250px ; 
  z-index: 1;
  height: 10px;
  width: 19px;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 8px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 10px;
}

.cardInfo {
  width: 255px;
  min-height: 113px;
  height: auto;
}

.cardInfoBlog {
 width: 229px;
 min-height: 113px;
 height: auto;
}


.cardTitle {
  height: 29px;
  width: 253px;
  color: #262626;
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.cardTitleBlog {
  height: 29px;
  width: 229px;
  color: #262626;
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}


.cardContent {
  min-height: 76px;
  height: auto;
  width: 253px;
  color: #868686;
  font-family: Inter;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: 8px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.cardContentBlog {
  min-height: 76px;
  height: auto;
  width: 229px;
  color: #868686;
  font-family: Inter;
  font-size: 12px;
  letter-spacing: 0;
  margin-top: 8px;
  line-height: 19px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.postCardContainer.expanded {
  height: auto 
}

.postCardContainerBlog.expanded {
  height: auto 
}