.mask {
  height: 208px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  filter: brightness(0.9);
}

.container {
  position: relative;
  width: 100%;
}

.logo {
  height: 57px;
  width: 240px;
  position: absolute;
  top: 32px;
  left: 162px;
  bottom: 119px;
  right: 1038px;
}

.stackedGroup {
  position: absolute; 
  height: 30px;
  width: 123px;
  top: 32px;
  left: 1217px;
  bottom: 146px;
  display: flex;
  justify-content: space-between;
}

.stackedGroup a {
  height: 21px;
  width: 52px;
  color: #FFFFFF;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500 ;
  letter-spacing: 0;
  line-height: 21px;
  text-decoration: none;
}

.activeSection {
  position: relative;
}

.activeSection::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E95E30;
}

.blogNavbar {
  position: absolute;
  height: 62px;
  width: 100%;
  color: white;
  font-family: Inter;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 62px;
  text-align: center;
  top: 133px;
  left: 0;
  bottom: 33px;
  right: 0;
  margin: auto;
}

.blogNavbar h1 {
  font-size: 48px;
}

@media screen and (max-width: 1440px) {
  .stackedGroup {
    left: 1200px;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1281px) {
  .stackedGroup {
    left: 1100px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .stackedGroup {
    left: 850px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .stackedGroup {
    left: 685px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 180px;
    left: 30px;
    top: 20px;
  }
  .stackedGroup {
    top: 32px;
    left: 500px;
  }
  .blogNavbar {
    height: 40px;
    top: 90px;
    line-height: 40px;
  }
  .blogNavbar h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 550px) {
  .stackedGroup {
    left: 320px;
  }
}
