* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #FAFAFA
}

.buttonNewPost {
  height: 39px;
  width: 202px;
  border-radius: 20px;
  background-color: #F27623;
  border: none;
}

.buttonTextPost {
  height: 15px;
  width: 106px;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
}




input[type="file"]::before {
  content: attr(data-text);
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 4px 12px;
  background-color: #7D7D7D;
  color: white;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}

input[type="file"][data-text="Kies bestand"]::before {
  content: "Kies bestand";
}

input[type="file"][data-text="Verwijderen"]::before {
  content: "Verwijderen";
}


